body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

a:hover {
  color: black;
}

h1 {
  background-color: #CE3D3D;
  padding: 25px;
  margin-top: 3px;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 50px;
  text-align: center;
  grid-column: span 1;
}

nav {
  grid-column: span 12;
}

nav ul {
  float: left;
  list-style-type: block;
  list-style: none;
  margin-top: -20px;
  margin-left: 100px;
  padding: 0px;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 50px;
}

#homepage1 {
  float: left;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 24px;
  width: 800px;
}

#homepage2 {
  float: left;
  margin-top: 10px;
  margin-left: 225px;
  margin-right: 0px;
  margin-bottom: 10px;
  border-radius: 24px;
  width: 800px;
}

nav li {
  float: left;
  background-color: #CE3D3D;
  text-align: center;
  grid-column: span 3;
  padding: 10px;
  margin-right: 300px;
  margin-left: 125px;
  width: 300px;
}

nav li a {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

a:active {
  color: black;
}

a:hover {
  color: black;
}

main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: span 3;
}

p {
  grid-column: span 3;
  border: solid 2px black;
  background-color: #B0B0B0;
  margin-top: 40px;
  margin-left: -150px;
  margin-right: 0px;
  float: left;
  width: 250px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0px;
  font-size: 21.5px;
}

footer {
  background-color: grey;
  margin-bottom: 0;
  width: 1200px;
  padding: 0;
  margin-top: 10px;
}

h2 {
  float: left;
  text-decoration: underline;
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 4px;
  padding: 0px;
}

.blockimg {
  display: block;
  border: none;
  background-color: #CE3D3D;
  width: 50px;
  border: solid 3px black;
  margin-left: 550px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.adopt {
  margin-bottom: -25px;
}

.kitties {
  float: left;
  margin-left: -3px;
}

.MAcats {
  float: left;
  margin-left: 405px;
  margin-top: -247px;
}

.SRcats {
  float: left;
  margin-left: 833px;
  margin-top: -250px;
}

.puppies {
  float: left;
}

.MAdogs {
  float: left;
  margin-left: 420px;
  margin-top: -255px;
}

.SRdogs {
  float: left;
  margin-left: 820px;
  margin-top: -260px;
}

.k {
  float: left;
  margin-top: -445px;
  margin-left: 85px;
}

.mac {
  float: left;
  margin-top: -445px;
  margin-left: 430px;
}

.src {
  float: left;
  margin-top: -445px;
  margin-left: 935px;
}

.p {
  float: left;
  margin-top: -165px;
  margin-left: 85px;
  margin-bottom: 20px;
}

.mad {
  float: left;
  margin-top: -175px;
  margin-left: 433px;
}

.srd {
  float: left;
  margin-top: -190px;
  margin-left: 935px;
}
.contact {
  margin-left: 500px;
  margin-top: -400px;
}

.bold {
  font-weight: bold;
}

.info1 {
  float: left;
  display: block;
  margin-left: 500px;
  margin-top: -460px;
  font-family: Helvetica, Arial, sans-serif;
  width: 500px;
  text-align: center;
}
