body {
  background-image: url(a62.png);
  background-repeat: repeat;
}

h1 {
  font-family: Helvetica;
  font-size: 25px;
  font-weight: normal;
  background-color: black;
  color: white;
  padding: 20px;
  margin: 10px;
}

h2 {
  font-family: Helvetica;
  border-bottom: 3px solid;
  padding-bottom: 10px;
  margin-left: 200px;
  margin-top: 0;
}

a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

p {
  font-family: Georgia;
  font-weight: bold;
  text-align: justify;
  padding: 15px;
  margin-left: 10px;
  font-size: 17.5px;
}

.textcenter {
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
}

.blockimg {
  display: block;
  padding: 10px;
  background-color: white;
  border: 3px solid black;
  float: left;
  margin-left: 200px;
  margin-right: 15px;
}

#wrapper {
  background-color: white;
  width: 1000px;
  margin: 200px;
  border: 3px solid black;
}

.footer {
  grid-template-columns: 20px;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 14.5px;
  font-family: Verdana;
  font-style: italic;
  background-color: red;
  border: 3px solid black;
  padding: 10px;
  margin: 0;
}

nav {
  grid-column: span 3;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 5px;
  font-family: sans-serif;
}
nav ul a:hover {
  text-decoration: none;
}

nav li {
  padding: 10px;
  margin: 10px;
  width: 150px;
  background-color: red;
}

nav li a {
  color: #ffffff;
  padding: 10px;
  display: block;
  text-decoration: none;
}

nav li a:hover {
  color: #800000;
}

header {
  grid-column: span 12;
}

nav {
  grid-column: span 3;
}

main {
  grid-column: span 9;
}

footer {
  grid-column: span 12;
}
